RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALERT_FROM_EMAIL=alerts@yourdomain.com

# Set to 'true' during migration to auto-provision unknown API keys
DISCOVERY_MODE=false

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Zm....
CLERK_SECRET_KEY=sk_test_oMgnqP...